.main-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid black;
  padding: var(--space-xs);

  &__heading {
    margin: .5rem 0;
    letter-spacing: 2px;
    font-weight: normal;
  }

  &__copy {
    text-transform: uppercase;
  }
}