.main-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid var(--color-grey-dark);
  height: 15vh;
  background-color: var(--color-grey-light);

  &__heading {
    margin: .5rem 0;
    letter-spacing: 2px;
    font-weight: normal;
  }

  &__copy {
    text-transform: uppercase;
  }
}