


.details {
  height: 100%;
  background: linear-gradient(173deg, var(--color-grey-light), var(--color-white-pure) 63%, var(--color-grey-med));

  &__photo {
    height: 12rem;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 60%, 0 100%);
    position: relative;
  
    background: url(https://s3-media2.fl.yelpcdn.com/bphoto/CPc91bGzKBe95aM5edjhhQ/o.jpg);
    background-size: cover;
    background-position: left center;
  }

  &__name {
    position: absolute;
    top: 30%;
    left: 8%;
    width: 25rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: var(--color-white-pure);
    font-size: 1.5rem;
    text-shadow: 1px 2px 2px  rgba(0, 0, 0, 0.6);
  }

  &__content {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;

    & > *:not(:nth-of-type(1)) {
      width: 90%;
      text-align: center;
      margin-bottom: 25px;
      font-size: 1.2rem;
      background: var(--color-green-light);
      border: 1px solid var(--color-grey-dark);
      color: var(--color-grey-dark);
      border-radius: 4px;
    }

    &--favorite {
      position: absolute;
      top: -2.8rem;
      right: 2rem;
      text-align: center;
      width: 10rem;
    }

    &--rate-review {
      display: flex;
      justify-content: space-evenly;
      margin-top: 12px;
    }

    &--photos {
      height: 6rem;
    }
  }
}
p {
  letter-spacing: 1px;
}

fa-icon {
  cursor: pointer;
  font-size: 25px;
  color: var(--color-red-light);
}