<div class="details">
  <div class="map-body">
    <div id="map"></div>
    <h3 class="details__name">Restaurant Name Goes Here And If its long it will wrap</h3>
  </div>
  <div class="details__content">
    <div class="details__content--favorite">
      <fa-icon (click)="toggleFavorite()" [icon]="isFavorite ? faHeartFull : faHeartOutline"></fa-icon>
      <p>{{isFavorite ? 'Remove' : 'Add'}} Favorite</p>
    </div>

    <div class="details__content--rate-review">
      <p>Rating: <span>4.5</span>/5</p>
      <p>Reviews: 1908</p>
    </div>
    <div class="details__content--desc">
      <p>American (New), French, Wine Bar</p>
    </div>
    <div class="details__content--phone">
      <p>403-555-5555</p>
    </div>
    <div class="details__content--address">
      <p>1234 fake street NW</p>
    </div>
    <div class="details__content--photos">
      photo component w/ *ngFor
    </div>
  </div>

</div>