.restaurant {
  height: 85vh;
  background: radial-gradient(circle, var(--color-grey-dark), var(--color-grey-med) 600px);
  display: flex;
  align-items: center;
  justify-content: center;
}

app-restaurant-details {
  height: 85%;
  width: 60%;
  background-color: var(--color-grey-light);
  border-radius: 8px;
  border: 2px solid var(--color-grey-dark);
  overflow: hidden;
}