.map {
  height: 85vh;
  display: flex;

  &__left {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 2px solid var(--color-grey-dark);

    &--search {
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: var(--space-xs);
      height: 15%;

      & input {
        height: 1.6rem;
        padding-left: 5px;
        color: var(--color-grey-med)
      }

      & ul {
        list-style: none;
      }

      & button {
        width: 3rem;
        height: 1.6rem;
      }
    }

    &--dine {
      height: 85%; 

      & ul {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: var(--color-grey-med);
        height: 100%;

        
        app-dine-item {
          background-color: white;
          border: 1px solid var(--color-grey-dark);
          display: flex;
          transition: all 0.3s;
        }

        app-dine-item:hover {
          cursor: pointer;
          background-color: var(--color-grey-light);
        }
        
      }
    }
  }

  &__right {
    width: 75%;
    
    & app-map-body {
      display: block;
      height: 80%;
    }

    &--favs {
      border-top: 2px solid var(--color-grey-dark);
      height: 20%;
    }
  }
}


.map-body {
  display: block;
  height: 80%;
}

#map {
  height: 100%;
}

