<div class="map">
  <div class="map__left">
    <div class="map__left--search">
      <input #restaurantInput type="search" placeholder="Search restaurants...">
      <button (click)="restaurantInput.value = searchTerm; restaurantInput.value = ''">Go!</button>
      <ul>
        <li></li>
        <li></li>
      </ul>
    </div>
    <div class="map__left--dine">

    </div>
  </div>
  <div class="map__right">
    <div class="map__right--map-body">

    </div>
    <div class="map__right--favs">

    </div>    
  </div>
</div>