.map {
  border: 3px solid var(--color-grey-dark);
  height: 85vh;
  display: flex;

  &__left {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid red;

    &--search {
      border: 1px solid green;
      display: flex;
      align-items: center;
      justify-content: space-around;
      padding: var(--space-xs);
      height: 15%;

      & input {
        height: 1.6rem;
        padding-left: 5px;
        color: var(--color-grey-med)
      }

      & ul {
        list-style: none;
      }

      & button {
        width: 3rem;
        height: 1.6rem;
      }
    }

    &--dine {
      height: 85%; 
      border: 1px solid purple;
    }
  }

  &__right {
    border: 1px solid blue;
    width: 75%;

    &--map-body {
      height: 80%;
      border: 1px solid green;
    }

    &--favs {
      border: 1px solid purple;
      height: 20%;
    }
  }
}