<div class="map">
  <div class="map__left">
    <div class="map__left--search">
      <input #restaurantInput type="search" placeholder="Search restaurants...">
      <button (click)="searchForRestaurants(restaurantInput.value); restaurantInput.value = ''">Go!</button>
      
    </div>
    <div class="map__left--dine">
      <ul *ngIf="topFive">
        <li *ngFor="let restaurant of topFive">
          <app-dine-item [restaurant]="restaurant"></app-dine-item>
        </li>
      </ul>
    </div>
  </div>
  <div class="map__right">
    <div class="map__right--map-body">

    </div>
    <div class="map__right--favs">

    </div>    
  </div>
</div>