/* You can add global styles to this file, and also import other style files */
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}


.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}

*,*::before,*::after{margin: 0;padding: 0;box-sizing: inherit;}

/* Global Styles */
:root {
  --color-grey-dark: #343434;
  --color-grey-med: #757575;
  --color-grey-light: #dfdfdf;

  --font-primary: 'Roboto', Arial, sans-serif;

  /* Minimum font-size 18px for accessibility */
  /* Set base size to 20px or 125% */
  /* Media queries allowed to use 119% (19px) an 112% (18px) */

  /* Type Scale (Major Third)*/
  /* 61.04px */
  --fs-xxl: 3.052rem; 
  /* 48.83px */
  --fs-xl: 2.441rem;
  /* 39.06px */
  --fs-lrg: 1.953rem;
  /* 31.25px */
  --fs-med: 1.563rem;
  /* 25px */
  --fs-sml: 1..25rem;
  /* 20px */
  --fs-xs: 1rem;

  /* Major Third on Spacing */
  --space-xxl: 3.052rem;
  --space-xl: 2.441rem;
  --space-lrg: 1.953rem;
  --space-med: 1.563rem;
  --space-sml: 1.25rem;
  --space-xs: 1rem;
  --space-xxs: .5rem;

  /* Box shadows */
  --bs-primary:rgba(99, 99, 99, 0.7) 0px 2px 8px 0px;
  --bs-secondary: rgba(117, 117, 117, 0.3) 0px 2px 2px 0px;

  /* Border Radiuses */
  --br-lrg: 7px;
  --br-med: 5px;
  --br-sml: 3px;
}

html{box-sizing: border-box;font-size: 125%;font-family: var(--font-primary);}

h1, h2 {margin: 0;padding: 0}

button {
  border: 1px solid var(--color-grey-dark);
  border-radius: 3px;
  background: var(--color-grey-light);
  text-transform: uppercase;
  transition: all 0.3s;
}

button:hover {
  opacity: 0.8;
  cursor: pointer;
}